html {
    box-sizing: border-box;
    background-color: rgb(63, 63, 63);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    background: rgb(49, 49, 49);
    color: whitesmoke;

    h1 {
        text-align: center;
        margin: 0;
        padding: 20px;
    }

    .gameContainer {
        width: 600px;
        height: 450px;
        margin: auto;
        border: 1px white solid;
        border-radius: 5px;
        display: flex;
        flex-direction: row;

        > * {
            flex: 1;
            text-align: center;
        }

        #you {
            border-right: 2px white dotted;
        }
    }

    .play {
        width: 120px;
        height: 30px;
        font-size: 18px;
        margin: 20px 388px;
    }

    .hidden {
        display: none;
    }

    footer {
        margin-top: 185px;
        text-align: center;
        border: 1px white solid;
    }
}