@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
    box-sizing: border-box;
    background-color: rgb(63, 63, 63);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    background: rgb(49, 49, 49);
    color: whitesmoke;
}

.sc {
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    height: 180px;
    background-color: rgba(15, 25, 65, 0.60);
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.sc > div {
    width: fit-content;
    border: 2px solid rgb(7, 36, 126);
    padding: 2px;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 50px;
}

.sc > div > button {
    font-family: 'Rubik', sans-serif;
    color:inherit;
    width: 200px;
    height: 30px;
    border: 2px solid rgba(28, 28, 110);
    border-radius: 3px;
    background-color: inherit;
}